@import "tailwindcss";

:root {
  --bg-primary: #000000;
  --bg-secondary: #232323;
  --text-primary: #ffffff;
  --text-secondary: #a3a3a3;
  --border-color: rgba(255, 255, 255, 0.2);
  --icon-filter: none;
  --bg-active: #1a1a1a;
}

.light {
  --bg-primary: #ffffff;
  --bg-secondary: #f3f4f6;
  --text-primary: #000000;
  --text-secondary: #525252;
  --border-color: rgba(0, 0, 0, 0.2);
  --icon-filter: invert(1);
  --bg-active: #e5e7eb;
}

hr {
  margin: 0;
  padding: 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
